@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Light'), local('Exo2-Light'), url('../fonts/exo2light.woff2') format('woff2'), url('../fonts/exo2light.woff') format('woff'), url('../fonts/exo2light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'), local('Exo2-Regular'), url('../fonts/exo2.woff2') format('woff2'), url('../fonts/exo2.woff') format('woff'), url('../fonts/exo2.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('../fonts/exo2semibold.woff2') format('woff2'), url('../fonts/exo2semibold.woff') format('woff'), url('../fonts/exo2semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/exo2bold.woff2') format('woff2'), url('../fonts/exo2bold.woff') format('woff'), url('../fonts/exo2bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

*::-webkit-input-placeholder {
	color: #c3c3c3;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c3c3c3;
	opacity: 1;
}
*::-moz-placeholder {
	color: #c3c3c3;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #c3c3c3;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {font-size: 63%}

body {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #00213a;
	font-weight: 400;
	background-image: url(../images/bg.jpg);
}

.column-main {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.column-aside {
	background-color: #fafafa;
	padding-top: 15px;
	padding-bottom: 15px;
}

article p {margin-bottom: 1em;}
a {color: #0092ff;}
a:hover {text-decoration: none;}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 0.3em;
}

h2 {
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.5em;
}

article ul {
	list-style-type: square;
	margin-left: 35px;
	margin-bottom: 1em;
}

article ol {
	margin-left: 35px;
	margin-bottom: 1em;
}

article li + li {
	margin-top: 0.6em;
}

#dle-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.wrap {
	padding-top: 2em;
	padding-bottom: 2em
}

.faq-short__icon svg, .faq-short__icon img {
	width: 60px;
	height: 60px;
}

.faq-short__icon svg {fill: #cacaca;}

.category-list .whatsapp-icon:hover svg, svg.whatsapp-fill {fill: #01a659;}
.category-list .viber-icon:hover svg, svg.viber-fill {fill: #7d519d;}
.category-list .skype-icon:hover svg, svg.skype-fill {fill: #02b0f1;}
.category-list .telegram-icon:hover svg, svg.telegram-fill {fill: #1e9dde;}
.category-list .messenger-icon:hover svg, svg.messenger-fill {fill: #0d72f8;}
.category-list .hangouts-icon:hover svg, svg.hangouts-fill {fill: #18a25f;}
.category-list .line-icon:hover svg, svg.line-fill {fill: #5bb935;}
.category-list .bbm-icon:hover svg, svg.bbm-fill {fill: #17161b;}
.category-list .wechat-icon:hover svg, svg.wechat-fill {fill: #00c611;}
.category-list .signal-icon:hover svg, svg.signal-fill {fill: #0091ec;}
.category-list .snapchat-icon:hover svg, svg.snapchat-fill {fill: #eed607;}
.category-list .kakaotalk-icon:hover svg, svg.kakaotalk-fill {fill: #43190b;}
.category-list .imo-icon:hover svg, svg.imo-fill {fill: #094395;}
.category-list .kik-icon:hover svg, svg.kik-fill {fill: #53ae0b;}
.category-list .groupme-icon:hover svg, svg.groupme-fill {fill: #0daae1;}
.category-list .discord-icon:hover svg, svg.discord-fill {fill: #82a0ff;}
.category-list .slack-icon:hover svg, svg.slack-fill {fill: #17bfa6;}

.category-list .whatsapp-icon:hover {color: #01a659;}
.category-list .viber-icon:hover {color: #7d519d;}
.category-list .skype-icon:hover {color: #02b0f1;}
.category-list .telegram-icon:hover {color: #1e9dde;}
.category-list .messenger-icon:hover {color: #0d72f8;}
.category-list .hangouts-icon:hover {color: #18a25f;}
.category-list .line-icon:hover {color: #5bb935;}
.category-list .bbm-icon:hover {color: #17161b;}
.category-list .wechat-icon:hover {color: #00c611;}
.category-list .signal-icon:hover {color: #0091ec;}
.category-list .snapchat-icon:hover {color: #eed607;}
.category-list .kakaotalk-icon:hover {color: #43190b;}
.category-list .imo-icon:hover {color: #094395;}
.category-list .kik-icon:hover {color: #53ae0b;}
.category-list .groupme-icon:hover {color: #0daae1;}
.category-list .discord-icon:hover {color: #82a0ff;}
.category-list .slack-icon:hover {color: #17bfa6;}

.category-list a::before {
	content: '';
	position: absolute;
	top: 0;
	left: -25px;
	width: 3px;
	height: 100%;
	opacity: 0;
	transition: .2s all ease-in-out;
}

.category-list a:hover::before {
	left: -15px;
	opacity: 1;
}

.category-list .whatsapp-icon:hover::before,
.whatsapp-color {background-color: #01a659;}

.category-list .viber-icon:hover::before,
.viber-color {background-color: #7d519d;}

.category-list .skype-icon:hover::before,
.skype-color {background-color: #02b0f1;}

.category-list .telegram-icon:hover::before,
.telegram-color {background-color: #1e9dde;}

.category-list .messenger-icon:hover::before,
.messenger-color {background-color: #0d72f8;}

.category-list .hangouts-icon:hover::before,
.hangouts-color {background-color: #18a25f;}

.category-list .line-icon:hover::before,
.line-color {background-color: #5bb935;}

.category-list .bbm-icon:hover::before,
.bbm-color {background-color: #17161b;}

.category-list .wechat-icon:hover::before,
.wechat-color {background-color: #00c611;}

.category-list .signal-icon:hover::before,
.signal-color {background-color: #0091ec;}

.category-list .snapchat-icon:hover::before,
.snapchat-color {background-color: #eed607;}

.category-list .kakaotalk-icon:hover::before,
.kakaotalk-color {background-color: #43190b;}

.category-list .imo-icon:hover::before,
.imo-color {background-color: #094395;}

.category-list .kik-icon:hover::before,
.kik-color {background-color: #53ae0b;}

.category-list .groupme-icon:hover::before,
.groupme-color {background-color: #0daae1;}

.category-list .discord-icon:hover::before,
.discord-color {background-color: #82a0ff;}

.category-list .slack-icon:hover::before,
.slack-color {background-color: #17bfa6;}

.download-color {background-color: #01a659;}

.category-list svg {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 0.5em;
	fill: #3d4e58;
	transition: .3s fill ease-in-out;
}

.search {
	margin-bottom: 1em;
}

.category-list li {
	list-style: none;
	padding: 0.5em 0;
}

.category-list a {
	position: relative;
	display: block;
	text-decoration: none;
	color: #3d4e58;
	font-weight: 600;
	transition: .3s color ease-in-out;
}

#story {
	width: 100%;
	background-color: #eaeaea;
	border: 0;
	padding: 10px 15px;
	border-radius: 3px;
	font-family: "Exo 2", sans-serif;
}

#story:focus {background-color: #fff;}

.vote_more { font-size: .9em; margin: -.7em 0 1em 0; }

.vote_list { margin: 8% 0; }
.vote_list .vote, .vote_list .pollanswer { margin: .6em 0 .2em 0; }
.vote_list .vote > input, .vote_list .pollanswer > input { display:none;  }
.vote_list .vote > input + label:before, .vote_list .pollanswer > input + label:before {
	display:inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid #3b3b3b;
	background-color: #fff;
	margin: -3px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	content: "";
	border-radius: 2px;
}

.vote_list .vote > input[type="radio"] + label:before,
.vote_list .pollanswer > input[type="radio"] + label:before { border-radius: 50%; }
.vote_list .vote > input + label:hover:before, .vote_list .pollanswer > input + label:hover:before { border-color: #3394e6; }
.vote_list .vote > input:checked + label:before, .vote_list .pollanswer > input:checked + label:before {
	background-color: #3394e6;
	border-color: #3394e6;
}

.vote_list .vote > input + label:before, .vote_list .vote > input:checked + label:before,
.vote_list .pollanswer > input + label:before, .vote_list .pollanswer > input:checked + label:before
{ -webkit-transition: border-color ease .2s; transition: border-color ease .2s; }

.btn-border .icon-votes { width: 16px; height: 14px; margin: -3px 0 0 0; vertical-align: middle; }
.vote_votes, .pollallvotes { font-size: .9em; }

.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #3394e6;
	vertical-align: middle;
}

.aside-box {
	position: relative;
	padding-top: 2em;
	margin-top: 2em;
	overflow: hidden;
}

.aside-box::before {
	content: '';
	position: absolute;
	top: 0;
	left: -15px;
	width: 30%;
	height: 2px;
	background-color: rgba(61, 78, 88, 0.2);
}

.vote__title {font-weight: 600;}

.header {
	margin-bottom: 1.5em;
	overflow: hidden;
}

.main-menu {
	position: relative;
	margin-top: 10px;
}

.main-menu::before {
	content: '';
	position: absolute;
	top: -50px;
	right: -90px;
	width: 128px;
	height: 128px;
	background: url(../images/paper-plane.png) no-repeat;
	opacity: .02;
}


.main-menu li {
	position: relative;
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
}

.main-menu a {
	color: #004d9f;
	text-decoration: none;
	font-weight: 700;
	transition: .3s color ease-in-out;
}

.main-menu a:hover {
	color: #0092ff;
}

.main-short {
	position: relative;
	padding: 15px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 30px;
}

.main-short__icon svg {
	width: 100%;
	display: inline-block;
	fill: #fff;
}

.short-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 56px;
	margin-top: 5px;
}

.short-title--main {
	min-height: auto;
	margin-top: 0.5em;
}

.short-title a {
	color: #fff;
	font-size: 2rem;
	text-decoration: none;
	font-weight: 600;
}

.short-btn, .short-body i {
	display: block;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.24);
	text-decoration: none;
	padding: 0.4em;
	margin-top: 0.6em;
	border-radius: 3px;
	transition: .2s background-color ease-in-out;
	font-style: normal;
}

.short-btn:hover {
	background-color: rgba(255, 255, 255, 0.32);
}

.short-btn__icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	fill: #fff;
	margin-right: 3px;
}

.short-body {
	margin-top: 1em;
	text-align: center;
}

.main-short--whatsapp {background-color: #01a659;}
.main-short--viber {background-color: #7d519d;}
.main-short--skype {background-color: #02b0f1;}
.main-short--telegram {background-color: #1e9dde;}
.main-short--messenger {background-color: #0d72f8;}
.main-short--hangouts {background-color: #18a25f;}
.main-short--line {background-color: #5bb935;}
.main-short--bbm {background-color: #17161b;}

.bottom-text {
	position: relative;
	padding-top: 1em;
}

.bottom-text::before {
	content: '';
	position: absolute;
	top: 0;
	right: -15px;
	width: 30%;
	height: 2px;
	background-color: rgba(61, 78, 88, 0.2);
}

.footer {
	width: 100%;
	margin-top: 2em;
	font-size: 14px;
	color: #7e8d96;
}

.foot-links a + a {margin-left: 1em;}

.scrollup {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	z-index: 900;
	text-align: center;
	border-radius: 30px;
	font-size: 20px;
	padding: 6px;
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	transition: .2s all;
	cursor: pointer;
	border: 2px solid #0092ff;
	opacity: .6;
}

.scrollup svg {
	width: 17px;
	height: 20px;
	fill: #0092ff;
}

.scrollup:hover {opacity: 1;}

.speedbar {
	position: relative;
	color: #ababab;
	font-size: 1.4rem;
	margin-bottom: 1.2em;
	border-bottom: 1px dashed #e8e8e8;
	padding-bottom: 0.8em;
}

.speedbar a {
	color: #ababab;
	text-decoration: none;
}

.speedbar a:hover {text-decoration: underline;}

.label-free {
	position: relative;
	display: inline-block;
	color: #0092ff;
	padding: 3px 10px 3px 25px;
	border: 2px solid #0092ff;
	border-radius: 30px 0 30px 30px;
	font-weight: 600;
	font-size: 15px;
}

.label-free::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 10px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid;
	margin-top: -4px;
}

.title-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

.title-box h1 {
	margin-bottom: 0;
}

.poster-box svg {
	max-width: 150px;
	max-height: 150px;
}

.poster-box img {max-width: 200px;}

.as-box {
	margin-bottom: 1em;
}

.as-type-1 {
	width: 360px;
	height: 300px;
}

#social_share {margin-bottom: 1em;}

.tab-contain {
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px dashed #eaeaea;
}

.tab-contain__box {display: none;}
.tab-contain__box.visible {display: block;}

.tabs li {
	list-style-type: none;
	display: inline-block;
	border-bottom: 2px solid transparent;
	font-weight: 600;
	color: rgba(61, 78, 88, 0.3);
	font-size: 1.8rem;
	padding: 0.4em;
	cursor: pointer;
	transition: .2s all ease-in-out;
}

.tabs {
	position: relative;
	margin: 0 0 1em;
}

.tabs::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #eaeaea;
}

.tabs .current {
	position: relative;
	border-color: inherit;
	color: #004d9f;
}

.tabs li + li {
	margin-left: 0.5em;
}

.file-information {
	margin-bottom: 1.7em;
}

.fs-table {
	padding: 20px 30px;
	border: 5px solid #fed762;
	font-size: 14px;
	margin-bottom: 1em;
}

.fs-table .col-6 {padding: 0.4em 0;}
.download-table .ceck-icon {fill: #9fd661;}
.download-table table tr:nth-child(odd) td {background-color: #f5f5f5;}
.download-table table tr td:first-child {text-align: left;}

.download-table table {
	width: 100%;
	border-spacing: 0;
}

.download-table table td {
	vertical-align: middle;
	padding: 0.4em;
}

.download-table table tr.w2 td {
	background-color: #fff;
	padding: 1.2em 0.7em;
}

.download-table {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0.8em;
}

.download-table table td a {
	display: inline-block;
	padding: 0.3em 0.6em;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: .2s background-color ease-in-out;
	width: 100%;
}

.download-table table td a:hover {opacity: .9;}

.download-info {
	color: #a2a2a2;
	font-size: 14px;
	text-align: center;
}

.download-info .icon-check {
	margin-right: 2px;
	vertical-align: middle;
}

.download-info span {
	display: inline-block;
	vertical-align: middle;
}

.icon-check {
	display: inline-block;
	width: 19px;
	height: 19px;
	fill: #a2a2a2;
}

.download-btn {
	width: 13px;
	height: 13px;
	fill: #fff;
	margin-right: 4px;
}

.faq-short__icon {
	margin-right: 1em;
}

.faq-short__body {
	border-left: 3px solid #d8dbdd;
	padding-left: 1em;
}

.faq-short__title {
	font-size: 1.9rem;
	font-weight: 600;
	text-decoration: none;
	color: #004d9f;
	transition: .3s color ease-in-out;
}

.faq-short__title:hover {
	color: #0092ff;
}

.faq-short {
	margin-bottom: 2em;
}

.faq-short__text {
	font-size: 14px;
	color: #848484;
	margin-top: 0.4em;
}

.faq-short__category {font-size: 13px;}
.faq-short__category a {color: #ccc;}

.category-title {margin-bottom: 2em;}

.anchor-links {margin-bottom: 1em;}

.anchor-links a {
	text-decoration: none;
	font-weight: 600;
	font-size: 1.5rem;
}

.anchor-links__item {
	padding: 0.2em 0 0.2em 1em;
	border-left: 2px solid #0092ff;
}

.anchor-links a:hover {text-decoration: underline;}

.custom_close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	-webkit-transition: .3s all;
	transition: .3s all;
	cursor: pointer;
}

.custom_close:hover {
	opacity: 1;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.custom_close:before, .custom_close:after {
	position: absolute;
	left: 10px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #333;
}

.custom_close:before {-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.custom_close:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

.cookies_policy .custom_close {
	top: 0;
	right: 0;
}

.cookies_policy {
	display: none;
	width: 100%;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: #e4e8ec;
	color: #536980;
	font-size: 14px;
	padding: 1.2em 0;
	z-index: 99999;
	
}

.cookies_desc {
	position: relative;
	padding-right: 35px;
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
}

.cookies_policy .cookies_ok {
	display: inline-block;
	text-decoration: none;
	padding: 0.3em 0.7em;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #1476d4;
	color: #fff;
}

.cookies_policy .cookies_ok:hover {
	background-color: #2c7fd0;
}

.cookies_btn {margin-top: 15px;}
.cookies_policy a {text-decoration: underline;}
.cookies_policy a:hover {text-decoration: none;}

.related-apps {
	margin-top: 2em;
	padding-top: 1.8em;
	border-top: 1px dashed #eaeaea;
}

.related-apps__title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.7em;
}

.related-apps__title svg {
	width: 28px;
	height: 28px;
	margin-right: 0.2em;
	vertical-align: middle;
}

.linkenso-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	fill: #0092ff;
	vertical-align: middle;
}

.related-post li {list-style-type: none;}

.related-post li a {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

.related-post li a:hover {text-decoration: underline;}
.related-post li + li {margin-top: 0.2em;}

.social-icons svg {
	width: 15px;
	height: 15px;
}

.social-icons svg:hover {opacity: .8;}

.social-icons a + a {
	margin-left: 5px;
}

.social-icons {
	margin-left: auto;
	margin-top: 0.8em;
}

#disqus_thread {
	margin-top: 2em;
}

.category-title h1 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.filter {
	display: inline-block;
	vertical-align: middle;
	background-color: #fafafa;
	margin-left: 1em;
	padding: 0.5em 0.7em;
	border-radius: 0 5px 5px 0;
	font-size: 14px;
}

.filter a {
	margin-left: 8px;
	text-decoration: none;
}

.filter a:hover, .filter a.active {text-decoration: underline;}

.main-short__os svg {
	width: 30px;
	height: 30px;
	fill: rgba(255, 255, 255, 0.5);
}

.main-short__os {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
}

.search-box {margin-bottom: 1.8em;}
.search-box h1 {margin-bottom: 0.8em;}

.search-form__input {
	padding: 10px;
	border: 1px solid #d8dbdd;
}

.search-box__result-num {
	font-size: 14px;
	margin-top: 1em;
	color: #ccc;
}

.errors-box {
	background-color: #fffcfc;
	padding: 1em;
	color: #c35b5b;
	margin-bottom: 1em;
}

.errors-box__title {
	font-size: 2rem;
	font-weight: 700;
}

.errors-box__text {
	font-size: 1.5rem;
}

.short-software {
	border: 2px solid #ececec;
	border-radius: 10px;
	padding: 1em;
	text-align: center;
	margin-bottom: 30px;
}

.short-software__icon img {
	display: inline-block;
	max-width: 150px;
}

.short-software__icon {margin-bottom: 0.7em;}
.short-rating {display: inline-block;}

.short-software__title {
	font-size: 2rem;
	font-weight: 600;
}

.cat-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1em;
	border-top: 2px dashed #eee;
	padding-top: 15px;
}

.highslide {
	display: inline-block;
	margin-top: 10px;
}

.navigation {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.pages {
	display: inline-block;
	vertical-align: middle;
}

.pages span, .pages a {
	display: inline-block;
	text-decoration: none;
	background-color: #0092ff;
	color: #fff;
	min-width: 25px;
	border-radius: 2px;
}

.pages a {
	background-color: transparent;
	color: #000;
}

.pages a:hover {background-color: rgba(0, 146, 255, 0.2);}

.page-nav {
	display: inline-block;
	margin: 0 10px;
	font-size: 24px;
	vertical-align: text-top;
	line-height: 0.8;
}

.navigation a {text-decoration: none;}


.redirect-modal { position: fixed; z-index: 9999999; top: 50%; left: 50%; width: 300px; height: 200px; background: #fff; }